<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Университет</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

    <div id="app">
        <router-view></router-view>
    </div>

    <script type="module">
        const studentsComponent = {
            template: `<div v-if="loading">loading...</div>
    <div v-else>
        <div class="table">
            <div class="caption">
                <h1>Список студентов</h1>
            </div>
            <div class="header">
                <div class="header-item h-1">Номер студента</div>
                <div class="header-item h-1">Фамилия Имя Очество</div>
            </div>
            <div class="row" v-for="student in students">
                <div class="row-item r-1">
                    {{ student.id }}
                </div>
                <div class="row-item r-2">
                    {{ student.name }}
                </div>
            </div>
            <div>
                <button class="button" v-on:click="addStudent">Добавить</button>
            </div>
        </div>
    </div>`,
            data() {
                return {
                    loading:true,
                    students: null
                }
            },
            methods: {
                addStudent: function (event) {
                    this.$router.push('/addStudent');
                }
            },
            mounted(){
                axios
                .get('http://localhost:8080/students', {mode: 'no-cors'})
                .then(responce => (this.students = responce.data))
                .finally(() => this.loading = false)
            }

        };
        const addStudentComponent = {
            template: `<main><div class="container">
        <div class="add-form">
            <div class="title caption">
                <h1>Форма добавления студента</h1>
            </div>
            <section>
                <div class='input-box'>
                    <div>
                        <input type="text" v-model="student.id" placeholder="Номер студента">
                    </div>
                    <div>
                        <input type="text" v-model="student.name" placeholder="Имя студента">
                    </div>
                </div>
            </section>
        </div>

        <div class="button-container">
            <div class="button-box ">
                
                    <button class="button" v-on:click="addStudent">Сохранить</button>
                    <button class="button" v-on:click="cancel">Отмена</button>
                
            </div>
        </div>
    </div></main>`,
            data() {
                return {
                    student: {
                        id: null,
                        name: null
                    }
                }
            },
            methods: {
                addStudent: function (event) {
                    axios.post('http://localhost:8080/students',
                        JSON.stringify(this.student), {
                        headers: { 'Content-Type': 'application/json; charset=utf-8' }
                    })
                        .then(response => {
                            console.log("student added");
                            this.$router.push('/students');
                        })
                        .catch(error => {
                            alert(error);
                        });

                },
                cancel: function (event) {
                    this.$router.push('/students');
                }
            }
        };

        const routes = [
            { path: "/", component: studentsComponent },
            { path: '/students', component: studentsComponent },
            { path: '/addStudent', component: addStudentComponent }
        ]
        const router = new VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes
        }

        )
        const app = Vue.createApp({})

        app.use(router)
        app.mount('#app')

    </script>
</body>

</html>