:root {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body,
#app {
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg,
            rgba(77, 61, 255, 1) 0%,
            rgba(0, 212, 255, 1) 100%) no-repeat;
}

/* Главная часть сайта */

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    text-align: center;

    padding: 2rem 5rem;
    border-radius: 14px;
    gap: 2rem;
}

.students-table {
    text-align: left;
}

.students-header th {
    text-align: left;
}

/* Поля ввода */

.input-box {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.input-box__one-column {
    text-align: start;
    grid-template-columns: 1fr;
}

.input-box input,
select {
    width: 100%;
    border-radius: 5px;
    border: 1px #252525 solid;
    padding: 0.5rem 1rem;
}

/* Кнопки */

.button-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-box button {
    border-radius: 25px;
    border: 1px #252525 solid;
    padding: 0.5rem 1rem;
    background: linear-gradient(130deg, #03a9f4, #634beb);
    color: aliceblue;
}

.button-box button:disabled {
    filter: brightness(.6);
}

/* Радио кнопки */

.radio {
    display: grid;
    align-items: center;
    grid-template-columns: 30px 20px;
}